.header {
    background-color: #808080;
    color: #ffffff;
    font-size: 150%;
    padding: 15px 45px;
    border-bottom: 5px solid #000000;
}

.footer {
    background-color: #808080;
    color: #ffffff;
    font-size: 150%;
    padding: 10px 25px;
    border-top: 5px solid #000000;
}

.footer a {
    color: #ffffff;
}

.square {
    background-color: #f39c12;
    height: 300px;
    width: 300px;
    margin: 75px;
}

.square-with-border {
    background-color: #f39c12;
    height: 300px;
    width: 300px;
    margin: 75px;
    border: 15px solid #0000ff;
}

.circle {
    background-color: #0000ff;
    height: 300px;
    width: 300px;
    margin: 75px;
    border-radius: 50%;
}

.circle-with-border {
    background-color: #0000ff;
    height: 300px;
    width: 300px;
    margin: 75px;
    border-radius: 50%;
    border: 15px solid #f39c12;
}

.green-square-large {
    background-color: #006600;
    height: 200px;
    width: 200px;
    margin: 75px 50px;
}

.green-square-small {
    background-color: #006600;
    height: 150px;
    width: 150px;
    margin: 150px;
}

li {
    font-size: 150%;
    padding: 15px 0;
    margin-left: 50px;
}